.left {
    width: 60%;
    float: left;
}

.right {
    width: 40%;
    float: left;
}

.leftpic {
    width: 100%;
    height: 700px;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.logo {
    padding: 15px 10px;
}

.login {
    text-decoration: none;
    padding-left: 500px;
    color: black;
    font-size: 25px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

.signup {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    background-color: black;
    color: white;
    font-size: 25px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;


}

h1 {
    padding-top: 70px;
    font-size: 70px;

}

.para {
    font-size: 40px;
    padding-top: 15px;
    color: gray;
}

.header {
    padding-left: 210px;
}

.form {
    display: inline-block;
    display: flex;
    align-items: center;
    height: 70px;
    border: 4px solid rgb(217, 217, 228);
    width: 800px;
    height: 50px;
    border-radius: 10px;
    margin-top: 60px;

}

.row {
    background-color: transparent;
    line-height: normal;
    border: none;
    outline: none;
    font-size: 20px;
    width: 50%;
    margin-left: 35px;
    letter-spacing: 3px;

}

.locate {
    text-decoration: none;
    line-height: 20px;
    font-weight: 700;
    font-size: 20px;
    cursor: text;
    width: 20%;
    color: #73757c;
    letter-spacing: 2px;

}

button {
    font-size: 25px;
    width: 30%;
    height: 51px;
    color: white;
    border: none;
    background-color: rgb(255, 111, 0);
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 6px;


}

.footer0 {
    margin-top: 50px;
    font-size: 20px;
    color: #73757c;
    padding-top: 50px;


}

.para1 {
    padding-top: 20px;
}

.footer {
    width: 100%;

}